.jumbotron {
  background-image: url("nicoleimage4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Fondamento"
}
.btn-primary {
  background-color: transparent;
  color: white;
}
.page-header {
  font-family: "Boogaloo", cursive;
}
.panel{
  font-family: "Boogaloo", cursive;
  font-size: 120%;
}
.media{
  font-family: "Boogaloo", cursive;
  font-size: 120%;
}
