body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-color: black;
  color: gold;
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
  color: red;
}
.summary-experience-skills-hobbies {
  font-size: 24px;
}
#header {
  font-size: 42px;
  color: silver;
  font-weight: bold;
}
.job-descriptions {
  font-size: 18px;
}
