.jumbotron {
  background-image: url("nicoleimage4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Fondamento"
}
.btn-primary {
  background-color: transparent;
  color: white;
}
.page-header {
  font-family: "Boogaloo", cursive;
}
.panel{
  font-family: "Boogaloo", cursive;
  font-size: 120%;
}
.media{
  font-family: "Boogaloo", cursive;
  font-size: 120%;
}
.navbar{
  font-family: "Arvo", serif;
}
.col-md-3{
  font-family: "Arvo", serif;
}
.row{
  font-family: "Arvo", serif;
}
.form-group{
  font-family: "Arvo", serif;
}
.checkbox{
  font-family: "Arvo", serif;
}
.image {
border-radius: 50px;
}
