.jumbotron {
  background-image: url("nicoleimage4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Fondamento"
}
.btn-primary {
  background-color: transparent;
  color: white;
}
.page-header {
  font-family: "Boogaloo", cursive;
  padding: 10px;
}
.panel{
  font-family: "Boogaloo", cursive;
  font-size: 120%;
}
.media{
  font-family: "Boogaloo", cursive;
  font-size: 120%;
}
.navbar {
  font-family: "Arvo", serif;
}
#mynavbar {
  font-family: "Arvo", serif;
  position: fixed;
  width: 95%;
}
.col-md-3{
  font-family: "Arvo", serif;
}
.row{
  font-family: "Arvo", serif;
}
.form-group{
  font-family: "Arvo", serif;
}
.checkbox{
  font-family: "Arvo", serif;
}
.image {
border-radius: 50px;
}
.media-object {
border-radius: 10px;
}
.container {
  width:95%;
  padding:5px;
}
#exampleInputEmail1 {
  width: 500px;
}
